<div class="acknowledgments">
  <p>
    I am deeply grateful to my supervisors
    <a href="https://scholar.google.com/citations?user=ZfzEFpsAAAAJ&hl=en" target="_blank"><strong>Dr. Guang Yang</strong></a>,
    <a href="https://scholar.google.com/citations?user=Z4LgebkAAAAJ&hl=zh-CN" target="_blank"><strong>Dr. Junjun He</strong></a>,
    and <strong>Prof. Minming Gong</strong> for their invaluable guidance, mentorship, and support throughout my research journey.
    Their insights and encouragement have been instrumental in shaping my academic growth.
  </p>
  <p>
    I also extend my sincere thanks to my collaborators
    <strong>Lihao Liu</strong>, <strong>Xiaodan Xing</strong>, <strong>Shen Zhang</strong>,
    <strong>Yingying Fang</strong>, <strong>Tangcheng</strong>, <strong>Liwei</strong>,
    <strong>Jiyao Liu</strong>, <strong>Huihui Xu</strong>, and many others.
    Their expertise, dedication, and teamwork have been essential to our research achievements.
  </p>
</div>
